<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="col-12">
        <div class="text-right">
            <i class='fa fa-user fa-lg' aria-hidden='true'></i>&nbsp;&nbsp;<b><span sec:authentication="principal.username"></span></b>&emsp;
            <a th:href="@{/logout}" style='color:black;text-decoration:none;' >
                <i class='fa fa-sign-out' aria-hidden='true'></i>
                Log out</a>
        </div>
    </div>
    <div class='container mt-5'>
        <div class='row frame' >
            <div style="background-color:#c8cbcf; width:100%"><h2 class="text-center">To Do List</h2></div>
            <div class='col-12'>
                <div class='row p-5'>
                    <div class='col-3'>
                        <div class='row p-2'>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="todo" data-toggle="pill" href="#mytodo" role="tab" aria-controls="pills-home" aria-selected="true">My Todo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                            <div class="col-9 p-2" style="text-align: right">
                                <label for="search">
                                    <input type="text" id="search" placeholder="Search To Do" size="30">
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="clearSearch()">Clear</button>
                                </label>
                            </div>

                    <div class='col-md-12 text-right '>
                        <button type="button" class="btn btn-outline-primary" onclick="clearTextBox()" data-toggle="modal" data-target="#ToDoModal">Add todo</button>
                    </div>
                        <div class="col-md-12 mt-3 tab-pane fade show active" id="mytodo" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <table id="tableToDo" class='table'>
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Content</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th colspan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                            </table>
                            <div class="col-md-12 mt-5 ">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center" id="pageElement">


                                    </ul>
                                </nav>
                            </div>
                        </div>
                    <div class="modal fade" id="ToDoModal" tabindex="-1" aria-labelledby="ToDoModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Form</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formSubmit">
                                        <div class="form-group">
                                            <label for="title" class="col-form-label">Title:</label>
                                            <input type="text" class="form-control" id="title" name="title">
                                        </div>
                                        <div class="form-group">
                                            <label for="content" class="col-form-label">Content:</label>
                                            <textarea class="form-control" id="content" name="content"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="status" class="col-form-label">Status:</label>
                                            <input type="text" class="form-control" id="status" name="status">
                                        </div>
                                        <div class="form-group">
                                            <label for="date" class="col-form-label">Create-Date</label>
                                            <input type="datetime-local" class="form-control" id="date" name="date">
                                        </div>
                                        <input type="hidden" id="user_id">
                                        <input type="hidden" id="toDoId">
                                        <input type="hidden" id="currentPage" value="1">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="btnAddToDo">Add todo</button>
                                    <button type="button" class="btn btn-primary" style="display: none" id="btnUpdateToDo">Update todo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLable" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLable">Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure to delete this to do</p>
                                </div>
                                <div class="modal-footer" id="deleteModalFooter">
                                    <input type="hidden" id="deleteId">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                                    <button type="button" id="btnDeleteToDo" class="btn btn-primary">Delete</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        var limit = 4; //get the limit of to do in one page
        $( document ).ready(function() {  //load all to do
            getToDoByPage(1,limit);
        });
        function clearSearch(){
            $('#search').val("");
            getToDoByPage(1,limit);
        }
        function clearTextBox() {
            $('#btnAddToDo').show();
            $('#btnUpdateToDo').hide();
            $('#title').val("");
            $('#content').val("");
            $('#date').val("");
            $('#status').val("");
        }
        $("#search").keyup(function() {
           var value = $('#search').val();
           if (value === ""){
               getToDoByPage(1, limit);
           }
           else {
               console.log(value);
               getToDoBySearchValue(value, 1, limit);
           }
        });
        function addToDo(data){
            var currentPage=0;
            $.ajax({
                url:'/todo',
                type : "POST",
                contentType:'application/json',
                data:JSON.stringify(data),
                dataType:'json',
                success:function (result){
                    currentPage = $('#currentPage').val();
                    getToDoByPage(currentPage,limit);
                },
                error:function (error){
                }
            });
        }
        function getToDoBySearchValue(value,pageNo,pageSize){
                $.ajax({
                    url: '/todo/search/' + value + '/' + pageNo + '/' + pageSize,
                    type: "GET",
                    success: function (result) {
                        console.log(result);
                        $("#tableToDo tbody").empty();
                        $("#pageElement").empty();
                        if ($('#message').length > 0) {
                            $('#message').remove();
                            $('#tableToDo').show();
                        }
                        if (result.length === 0) {
                            $('#tableToDo').hide();
                            var text = "<h1 id='message' style='text-align: center'>" + "Cannot find This To Do" + "</h1>";
                            $("#mytodo").append(text);
                        } else {
                            $.each(result, function (i, item) {
                                var rows = "<tr>"
                                    + "<th>" + (++i) + "</th>"
                                    + "<td>" + item.title + "</td>"
                                    + "<td>" + item.content + "</td>"
                                    + "<td>" + item.date + "</td>"
                                    + "<td>" + item.status + "</td>"
                                        + "<td>" + "<button type='button' onclick='getToDoById(" + item.id + ")' id='btnEdit' class='btn btn-outline-warning' data-toggle='modal' data-target='#ToDoModal'>Edit</button>" + "</td>"
                                    + "<td>" + "<button type='button' onclick='passId(" + item.id + ")' id='btnDelete' class='btn btn-outline-danger' data-toggle='modal' data-target='#deleteModal'>Delete</button>" + "</td>"
                                    + "</tr>";
                                $('#tableToDo tbody').append(rows);
                            });
                            getTotalItemBySearchValue(pageNo, value);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });


        }
        function getToDoById(id){
            $('#btnAddToDo').hide();
            $('#btnUpdateToDo').show();
            $.ajax({
                url:'/todo/'+id,
                type: "GET",
                success:function (result){
                    console.log(result);
                    $('#title').val(result.title);
                    $('#content').val(result.content);
                    var date =moment(result.date).utc().format('YYYY-MM-DDTHH:mm');
                    console.log(date);
                    $('#date').val(date);
                    $('#status').val(result.status);
                    $('#user_id').val(result.userId);
                    $('#toDoId').val(result.id);
                },
                error:function (error){
                    console.log(error);
                }
            });
        }
        function updateToDo(object){
            $.ajax({
                url:'/todo',
                type : "PUT",
                contentType:'application/json',
                data:JSON.stringify(object),
                dataType:'json',
                success:function (result){
                    console.log(result);
                    currentPage = $('#currentPage').val();
                    getToDoByPage(currentPage,limit);
                },
                error:function (error){
                    console.log(error);
                }
            });
        }
        function getTotalItemBySearchValue(pageNo,value){
            $.ajax({
                url:'/todo/totalItem/'+value,
                type: 'GET',
                success:function (result){
                    var totalItem = result;
                    if (pageNo>1 && (totalItem/limit)>1){
                        pageButton ='<li class="page-item "><a class="page-link" href="#" onclick="getToDoBySearchValue(\''+ value +'\',' + (pageNo-1) + ','+ limit + ',' + ');passCurrentPage('+pageNo+')">Previous</a></li> '
                        $('#pageElement').append(pageButton);
                    }
                    for (var i = 1; i<= Math.ceil(totalItem/limit) ; i++) {
                        console.log(i);
                        if(i === pageNo){
                            var pageButton = '<li class="page-item active"><a class="page-link" onclick="getToDoBySearchValue(\''+ value +'\',' +i + ','+ limit + ',' + ');passCurrentPage('+i+')">'+i+'</a></li> '
                            $('#pageElement').append(pageButton);
                        }
                        else if($('#currentPage').val() == pageNo && i==pageNo){
                            var pageButton = '<li class="page-item active"><a class="page-link" onclick="getToDoBySearchValue(\''+ value +'\',' +i + ','+ limit + ',' + ');passCurrentPage('+i+')">'+i+'</a></li> '
                            $('#pageElement').append(pageButton);
                        }
                        else{
                            var pageButton = '<li class="page-item"><a class="page-link" onclick="getToDoBySearchValue(\''+ value +'\',' +i + ','+ limit + ',' + ');passCurrentPage('+i+')">'+i+'</a></li> '
                            $('#pageElement').append(pageButton);
                        }
                    }
                    if (pageNo<(totalItem/limit) && (totalItem/limit) >1){
                        pageButton ='<li class="page-item "><a class="page-link" href="#" onclick="getToDoBySearchValue(\''+ value +'\',' +(pageNo+1) + ','+ limit + ',' + ');passCurrentPage('+pageNo+')">Next</a></li> '
                        $('#pageElement').append(pageButton);
                    }
                },
                error:function (error){
                    console.log(error);
                }
            });
        }
        function getTotalItem(pageNo){
            $.ajax({
                url:'/todo/totalItem',
                type: 'GET',
                success:function (result){
                    var totalItem = result;
                    if (pageNo>1 && (totalItem/limit)>1){
                        pageButton ='<li class="page-item "><a class="page-link" href="#" onclick="getToDoByPage('+ (pageNo-1) + ','+ limit + ','+ ');passCurrentPage('+pageNo+')">Previous</a></li> '
                        $('#pageElement').append(pageButton);
                    }
                    for (var i = 1; i<= Math.ceil(totalItem/limit) ; i++) {
                        console.log(i);
                        if (i== pageNo){
                            var pageButton = '<li class="page-item active"><a class="page-link" onclick="getToDoByPage('+ i + ','+ limit + ','+ ');passCurrentPage('+i+')">'+i+'</a></li> '
                            $('#pageElement').append(pageButton);
                        }
                        else if($('#currentPage').val() == pageNo && i==pageNo){
                            passCurrentPage(i);
                            var pageButton = '<li class="page-item active"><a class="page-link" onclick="getToDoByPage('+ i + ','+ limit + ','+ ');passCurrentPage('+i+')">'+i+'</a></li> '
                            $('#pageElement').append(pageButton);
                        }
                        else{
                            var pageButton = '<li class="page-item"><a class="page-link" onclick="getToDoByPage('+ i + ','+ limit + ',' + ');passCurrentPage('+i+')">'+i+'</a></li> '
                            $('#pageElement').append(pageButton);
                        }
                    }
                    if (pageNo<(totalItem/limit) && (totalItem/limit) >1){
                        pageButton ='<li class="page-item "><a class="page-link" href="#" onclick="getToDoByPage('+ (pageNo+1) + ','+ limit + ',' + ');passCurrentPage('+pageNo+')">Next</a></li> '
                        $('#pageElement').append(pageButton);
                    }
                },
                error:function (error){
                    console.log(error);
                }
            });
        }
        function passCurrentPage(currentPage){
            $('#currentPage').val(currentPage) ;
        }
        function passId(id){
            $('#deleteId').val(id);
        }
        function getToDoByPage(pageNo,pageSize){
            $.ajax({
                url:'/todo/'+pageNo+'/'+pageSize ,
                type:"GET",
                success:function (result){
                    $("#tableToDo tbody").empty();
                    $("#pageElement").empty();
                    if(result.length === 0){
                        $('#tableToDo').hide();
                        var text = "<h1 id='message' style='text-align: center'>" + "You haven't added to do yet" + "</h1>";
                        $("#mytodo").append(text);
                    }

                    else {
                        if ($('#message').length >0){
                            $('#message').remove();
                            $('#tableToDo').show();
                        }
                        $.each(result, function (i, item) {
                            var rows = "<tr>"
                                + "<th>" + (++i) + "</th>"
                                + "<td>" + item.title + "</td>"
                                + "<td>" + item.content + "</td>"
                                + "<td>" + item.date + "</td>"
                                + "<td>" + item.status + "</td>"
                                + "<td>" + "<button type='button' onclick='getToDoById("+item.id+")' id='btnEdit' class='btn btn-outline-warning' data-toggle='modal' data-target='#ToDoModal'>Edit</button>" + "</td>"
                                + "<td>" + "<button type='button' onclick='passId("+item.id+")' id='btnDelete' class='btn btn-outline-danger' data-toggle='modal' data-target='#deleteModal'>Delete</button>" + "</td>"
                                + "</tr>";
                            $('#tableToDo tbody').append(rows);
                        });
                        getTotalItem(pageNo);

                    }
                },
                error:function (error){
                    console.log(error);
                }
            });
        }
        $('#btnUpdateToDo').click(function (e){
            e.preventDefault();
            var obj ={
                id:$('#toDoId').val(),
                userId:$('#user_id').val(),
                title:$('#title').val(),
                content:$('#content').val(),
                date:$('#date').val(),
                status: $('#status').val()
            };
            console.log(obj)
            updateToDo(obj);
            $('#ToDoModal').modal('hide');
        });


        $('#btnDeleteToDo').click(function () {
            var id = $('#deleteId').val();
            $.ajax({
                url:'/todo/'+id,
                type: "Delete",
                success:function (result){
                    getToDoByPage(1,limit);
                    $('#currentPage').val(1);
                    $('#deleteModal').modal('hide');
                },
                error:function (error){
                    console.log(error);
                }
            });
        });
        $('#btnAddToDo').click(function(e){
            e.preventDefault();
            var data= {};
            var formData = $('#formSubmit').serializeArray();
            $.each(formData,function (index,v){
                data[v.name]=v.value;
            });
            addToDo(data);
            $('#ToDoModal').modal('hide');
        });
    </script>
</body>
</html>